:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --previewBg: rgb(251, 249, 243, 0.8);

  --previewShadow: #f0ead6;
}

/* Font-size 62.5% 1rem = 10px */
html,
body {
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  --secondaryText: #4b5156;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #17a2b8;
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10rem;
}
/* Introduction */

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
/* Navigation */

.nav-wrapper {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--borderColor);
  grid-area: nav-wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#contact {
  margin: 0;
  padding: 10px;
}
#contact li {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

#about-portfolio {
  margin: 0;
  padding: 10px;
}

#about-portfolio li {
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0rem;
}

/* Introduction Content */

.right-column {
  display: flex;
  grid-area: right-column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#preview {
  width: 280px;

  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);

  padding: 15px;
}

#preview h4 {
  margin: 1.6rem 0px;
}
.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-area: left-column;
}

.LI-profile-badge {
  background-color: var(--previewBg);
  border: 1.5px solid #17a2b8;
  margin: 1rem 0px;
}

/* About */

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}

/* Projects */

#project-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.porfolio-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.scroll-button {
  align-self: center;
  cursor: pointer;
  border: none;
  background-color: var(--mainColor);
}

.thumbnail {
  width: 100%;
  height: 375px;
}

.github-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  cursor: pointer;
}

.icon-wrap {
  display: flex;
  align-items: flex-start;
}

.icon-wrap a {
  margin: auto 0;
}

.project {
  width: 500px;
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.indicator {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  border-color: black;
  border: 1.5px solid;
  background-color: var(--secondaryColor);
}

.indicator-wrapper {
  display: flex;
  justify-content: center;
}
#indicators {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 5px;
}

.active {
  background-color: black;
  transition: background-color 0.6s ease;
}

.project-title {
  margin: 0;
}

.project-preview {
  padding: 15px;
}

/* Contact Section */

.contact-wrapper h4 {
  margin: 0px;
}
.contact-wrapper h3 {
  margin-bottom: 0px;
}

/* Responsive Design */

@media screen and (max-width: 1250px) {
  .main-container {
    width: 95%;
  }

  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

@media screen and (max-width: 750px) {
  .intro-wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
      "nav-wrapper"
      "left-column"
      "right-column";
  }

  .project {
    width: 300px;
    box-shadow: none;
  }

  .thumbnail {
    height: 225px;
  }

  .scroll-button {
    margin: 0;
  }

  .porfolio-wrapper {
    gap: 0px;
  }

  .about-wrapper {
    gap: 0px;
  }

  .right-column {
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .project {
    width: auto;
    box-shadow: none;
  }

  #preview {
    width: 180px;
  }

  .LI-profile-badge {
    margin: auto;
    background-color: var(--previewBg);
    border: 1.5px solid #17a2b8;
  }
}
